.login-container {
    max-width: 420px;
    margin: 80px auto;
    padding: 32px;
    background: linear-gradient(145deg, #73c4b0, #f0f0f0);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    animation: aparecer 0.4s ease-in-out;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .campo {
    width: 100%;
    margin-bottom: 24px;
  
    ::ng-deep .mat-form-field-outline {
      border-radius: 12px;
    }
  }
  
  button {
    padding: 12px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(33, 243, 138, 0.3);
    transition: all 0.2s ease-in-out;
  
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 12px rgba(33, 150, 243, 0.4);
    }
  
    &:disabled {
      background-color: #333333;
      color: #888;
      cursor: not-allowed;
    }
  }
  
  @keyframes aparecer {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
//   .logo-container {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 24px;
//   }
  
//   .logo {
//     width: 100px;
//     height: 100px;
//   }

h1{
    text-align: center;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}